[submodule "DogEngine/vendor/spdlog"]
	path = DogEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DogEngine/vendor/GLFW"]
	path = DogEngine/vendor/GLFW
	url = https://github.com/Chickenman67/glfw
[submodule "DogEngine/vendor/imgui"]
	path = DogEngine/vendor/imgui
	url = https://github.com/Chickenman67/imgui
[submodule "DogEngine/vendor/glm"]
	path = DogEngine/vendor/glm
	url = https://github.com/g-truc/glm
